<% layout("layouts/boilerplate") %>

<header>
    <link rel="stylesheet" href="/stylesheets/stock.css">
</header>

<div class="row mb-3">
    <div class="text-end">
        <form action="/reports">
            <button class="btn btn-lg btn-primary">Back to Reports</button>
        </form>
    </div>
</div>

<h2>Cabinet Stock</h2>

<% for (let cabinetStock of cabinetStocks) { %>
    <div class="card card-display mb-2 shadow">
        <div class="card-body">
            <% for (let cabinet of cabinetStock.cabinet) { %> 
                <h3>Cabinet:  <%= cabinet.name %> </h3>
                <h5>Stock: <span class="langley"><%= cabinet.langley %></span> </h5>
                <h5>Average Monthly Consumption: <span class="average"><%= cabinetStock.average %></span> </h5>
                <h5>Lead Time: <span class="leadTime"><%= cabinet.leadTime %></span> <% if (cabinet.leadTime) {%> Days <% } %>  </h5>
                <div class="message warningText text-center">
                    <p>hey</p>
                </div>
                <br> 
            <% } %>
        </div>
    </div> 
<% } %> 
 

<h2 class="mt-5">Unit Stock</h2>
<% for (let unitStock of unitStocks) { %>
    <div class="card card-display mb-2 shadow">
        <div class="card-body">
            <% for (let unit of unitStock.unit) { %>
                <h3>Unit: <%= unit.name %> </h3> 
                <h5>Stock: <span class="langley"><%= unit.langley %></span>  </h5>
                <h5>Average Monthly Consumption: <span class="average"><%= unitStock.average %></span>  </h5>
                <h5>Lead Time: <span class="leadTime"><%= unit.leadTime %></span>  <% if (unit.leadTime) {%> Days <% } %> </h5>
                <div class="message warningText text-center">
                    <p>hey</p>
                </div>
                <br>
            <% } %> 
        </div>
    </div> 
    
<% } %> 

<script src="/javascripts/stockUI/cabinetStock.js"></script>