<% layout("layouts/boilerplate") %>

    <header>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </header>

    <a href="/register">Register New User</a>

    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th> <!-- Numbers each row of the table-->
                <th scope="col"></th> <!-- This column will be the delete option -->
                <th scope="col"></th> <!-- This column will be the reset password option -->
                <th scope="col"></th> <!-- This column will be the edit option-->
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Account</th> <!-- Will show what rank - user, admin, or superadmin -->
            </tr>
        </thead>
        <tbody>
            <% let i=1 %>
                <% for (let user of users) { %>
                    <tr>
                        <th scope="row">
                            <%=i %>
                        </th>

                        <td>
                            <form action="/admin/dashboard/<%= user._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button>
                            </form>
                        </td>

                        <td>
                            <form action="/forgot/<%= user.username %>?_method=POST" method="POST">
                                <button class="btn btn-warning btn-sm">Reset Password</button>
                            </form>
                        </td>

                        <td>
                            <form action="/admin/dashboard/edit/<%= user._id %>">
                            <button class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button>
                            </form>
                        </td>

                        <td>
                            <%= user.username %>
                        </td>

                        <td>
                            <%= user.email %>
                        </td>

                        <td>
                            <% if (user.isSuperAdmin) {%>
                                Super Admin
                                <% } else if (user.isAdmin) { %>
                                    Admin
                                    <% } else if (user.isValidated) {%>
                                        User
                                        <% } else { %>
                                            Not Validated
                                            <% } %>
                        </td>

                    </tr>
                    <% i++ %>
                        <% } %>
        </tbody>
    </table>
</div>